.s-fashionYear {
    margin: 2rem 0;
    .s_colection {
        position: relative;
        img {
            width: 70%;
        }
        .s_intro {
            @include posAbsolute("tr", 40%, 10%);
            transform: translateY(-40%);
            h5 {
                font-weight: $fw-300;
                font-size: $fs-18;
                font-style: italic;
                span {
                    margin: 0 0.3rem;
                }
            }
            h2 {
                font-weight: $fw-600;
                font-size: $fs-40;
                margin-bottom: 1.5rem;
                span {
                    display: block;
                    margin-left: 1rem;
                }
            }
            .s_content {
                span {
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .s-fashionYear {
        .s_colection {
            .s_intro {
                top: 44%;
                right: 19%;
                h5 {
                    font-size: 0.2rem;
                }
                h2 {
                    font-size: 0.8rem;
                    margin-bottom: 0.2rem;
                }
                .s_content {
                    font-size: 0.6rem;
                }
                .c-button-2 {
                    font-size: 0.4rem;
                }
            }
        }
    }
}

@media (max-width: 820px) {
    .s-fashionYear {
        .s_colection {
            .s_intro {
                h5 {
                    font-size: 1.3rem;
                }
                h2 {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
                .s_content {
                    font-size: 1rem;
                    margin-bottom: 0.7rem;
                }
                .c-button-2 {
                    font-size: 1rem;
                }
            }
        }
    }
}
