.s-productPage {
    h2 {
        font-size: $fs-15;
        margin: 3rem 0 2rem 0;
        font-weight: $fw-400;
        color: $black-color;
        .s_home {
            color: $gray-color-2;
        }
        .s_angel {
            color: $black-color;
            padding: 0 0.6rem;
        }
    }
    .s_filterProduct {
        .s_filter {
            margin-bottom: 2.5rem;
            .s_showFilter {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &.active {
                    i {
                        transform: rotate(180deg);
                        color: $gray-color-2;
                    }
                }
                h4 {
                    font-size: $fs-16;
                    font-weight: $fw-600;
                }
                i {
                    cursor: pointer;
                    transition: 0.5s;
                }
            }

            ul {
                @media (max-width: 991px) {
                    display: none;
                }
                li {
                    margin-top: 1rem;
                    font-size: $fs-14;
                    color: $gray-color-2;
                    transition: 0.5s;
                    cursor: pointer;
                    &.active {
                        color: $black-color;
                    }
                }
            }
        }
    }
    .s_showPro {
        margin-bottom: 2rem;
    }
}
