.s-ourStory {
    margin: 2rem 0;
    .s_our {
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
            height: 450px;
        }
        .s_content {
            @include posAbsolute("tl", 6rem, 4rem);
            h1 {
                margin-bottom: 1rem;
            }
            .s_story {
                width: 47%;
                padding-bottom: 0.8rem;
            }
        }
    }
}
@media (max-width: 475px) {
    .s-ourStory {
        .s_our {
            .s_content {
                h1 {
                    font-size: $fs-16;
                }
                .s_story {
                    font-size: $fs-13;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .s-ourStory {
        .s_our {
            .s_content {
                h1 {
                    font-size: $fs-22;
                }
                .s_story {
                    font-size: $fs-15;
                    width: 70%;
                }
            }
        }
    }
}
